.window {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.button-window {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 7px;
}
.list-window, .map-window {
    text-align: center;
    border: 1px solid black;
    padding: 5px;
    margin-top: 0;
    margin-bottom: 0;
    width: 60px;
    border-radius: 7px;
    background-color: rgb(188 60 60 / 25%);

}

.inside-window {
  margin:10px;
}

