
.header {
  display: flex;
  flex-wrap: wrap;
  font-family: 'Pacifico', cursive;
  align-content: center;
  justify-content: center;
  align-items: center;
  background-color: #bcd0b1;
  font-size: 40px;
  margin:0;
}
 
.headline {
  position: absolute;
  padding-right: 90px;
  padding-left: 90px;
  background-color: #ffffff52;
  border-radius: 1px;
}

.bath-header {
    height: 70vh;
    width: 25vw;
    padding-left: 360px;
    margin-top: 60px;
}

a {
    color: black;
    text-decoration: none;
    margin: 10px;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
}

a:hover {
    text-decoration: underline;
}

@media (max-width:480px) {
  .header {
    font-size: 20px;
    height: 550px;

  }
  .headline {
    position: absolute;
    padding-right: 90px;
    padding-left: 90px;
    background-color: #ffffff52;
    border-radius: 1px;
    padding-top: 10px;
    padding-bottom: 10px;
}
  .bath-header {
    height: 50vh;
    width: 35vw;
    padding-left: 267px;
    margin-top: 60px;
}
}